<html>
<head>
    <title> ToDo App </title>
    <link href="/style.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
    <h2> A Simple ToDo List App </h2>
  <form action ="/api/addtask" method="POST">
    <input type="text" name="taskTitle" placeholder="add new task">  
    <select id="priority" name="priority">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>   
    <button>Add Task</button>
    <h2>Tasks</h2>
    <table>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Owner</th>
        <th>Priority</th>
      </tr>
      <% for(var i = 0; i < todoList.length; i++){ %>
    <tr>
        <td><input type="<%= (todoList[i].owner == username) ? `checkbox` : `hidden` %>" name="check" value="<%= todoList[i].owner%>" /></td>
        <td><%= todoList[i].title %></td>
        <td><%= todoList[i].owner %></td>
        <td><%= todoList[i].priority %></td>
    </tr>
    <% } %>
    </table>
      <button formaction="/api/removetask" type="submit"> Remove </button>
  </form>
</body>
</html>